'''
Created on Jun 28, 2010

@author: brianjinwright
'''
CLOUDFILES_AUTH_USER = ''
CLOUDFILES_AUTH_KEY = ''
CLOUDFILES_CONTAINER = ''
CLOUDFILES_NEW_CONTAINER = ''

CLOUDFILES_B_AUTH_USER = ''
CLOUDFILES_B_AUTH_KEY = ''
